<fieldset>
    <legend>Create New Contact</legend>

    <div>
        <input name="FirstName" type="text" placeholder="First Name" required="required" ng-model="contact.FirstName" />
    </div>

    <div>
        <input name="LastName" type="text" placeholder="Last Name" required="required" ng-model="contact.LastName" />
    </div>

    <div>
        <input name="Phone" type="text" placeholder="Phone" required="required" ng-model="contact.Phone"/>
    </div>
    <p>
        <input type="button" class="btn" value="Save" ng-click="saveContact()" />
    </p>
</fieldset>
