<form name="thisForm">
    <fieldset>
        <legend>Create New Contact</legend>

        <div>
            <input name="FirstName" type="text" placeholder="First Name" ng-required="true" ng-model="contact.FirstName"  />
            <i class="icon-flag" tooltip="This field is required." tooltip-placement="right" ng-show="thisForm.FirstName.$error.required"></i>
        </div>

        <div>
            <input name="LastName" type="text" placeholder="Last Name" ng-required="true" ng-model="contact.LastName" />
            <i class="icon-flag" tooltip="This field is required." tooltip-placement="right" ng-show="thisForm.LastName.$error.required"></i>
        </div>

        <div>
            <input name="Phone" type="text" placeholder="Phone" ng-pattern="/^[0-9+\(\)#\.\s\/\-a-zA-Z]+$/" ng-required="true" ng-model="contact.Phone"/>
            <i class="icon-flag" tooltip="Please enter a valid phone number." tooltip-placement="right" ng-show="thisForm.Phone.$error.required || thisForm.Phone.$error.pattern"></i>
        </div>
        <p>
            <input type="button" class="btn" value="Save" ng-click="saveContact()" ng-disabled="thisForm.$invalid" />
        </p>
    </fieldset>
</form>

