<form id="contactForm">
    <fieldset>
        <legend>Edit Contact</legend>

        <div>
            <input id="firstName" name="FirstName" type="text" placeholder="First Name" data-bind="value: activeContact.FirstName"/>
        </div>

        <div>
            <input id="lastName" name="LastName" type="text" placeholder="Last Name" data-bind="value: activeContact.LastName"/>
        </div>

        <div>
            <input id="phone" name="Phone" type="text" placeholder="Phone" data-bind="value: activeContact.Phone"/>
        </div>
        <p>
            <input type="button" class="btn" value="Save" data-bind="click: updateContact" />
        </p>
    </fieldset>
</form>
