<form id="contactForm">
    <fieldset>
        <legend>Create New Contact</legend>

        <div>
            <input id="firstName" name="FirstName" type="text" placeholder="First Name"/>
        </div>

        <div>
            <input id="lastName" name="LastName" type="text" placeholder="Last Name"/>
        </div>

        <div>
            <input id="phone" name="Phone" type="text" placeholder="Phone"/>
        </div>
        <p>
            <input id="saveContact" type="button" class="btn" value="Save" data-bind="click: addContact" />
        </p>
    </fieldset>
</form>
