html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    border-top: solid 10px #000;
    color: #333;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    padding-top: 4px;
}

.header {
    color:#2BA6CB;
    font-size:large;
}

table.contactList tr .btn-group {
    opacity: 0.0;
}

table.contactList tr:hover .btn-group {
    opacity: 1.0;
    -moz-transition: opacity 750ms ease;
    -o-transition: opacity 750ms ease;
    -webkit-transition: opacity 750ms ease;
    transition: opacity 750ms ease;
}