@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-top:25%; margin-bottom:25%" class="progress progress-striped active span6 offset3">
    <div class="bar" style="width: 100%;"></div>
</div>
